.form{
    box-sizing: border-box;
    padding: 20px 20px;
    padding-top: 0;
    max-width: 380px;
    margin: auto;
    width: 98%;
    /*border:1px solid rgba(var(--color-blue-1), 1);*/
    border-radius: var(--border-radius-standard);
}

.form-block{
    margin: 15px 0;
    margin-bottom: 20px;
}

.form-block--title{
    text-align: left;
    font-size: 1.5rem;
}

.form-block--title > p{
    letter-spacing: 2px;
    padding-bottom: 8px;
    padding-left: 6px;
    color: rgba(var(--color-blue-1));
    border-bottom:1px solid rgba(var(--color-dark-1),.4);
}

.form-block--submit{
    text-align: right;
    margin-bottom: 0;
}


.form-block__label{
    display: block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.form-block__comment{
    font-size: .8rem;
    padding: 8px;
}

.form-block__comment--error{
    color: var(--color-error);
}


.input{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border:1px solid rgba(var(--color-dark-1), .5);
    color: rgba(var(--color-dark-1));
    padding: 10px 8px;
    font-family: inherit;
    border-radius: var(--border-radius-standard);
    border-color: rgba(var(--color-blue-1), .5);
}

.input:focus,
.input:active{
    border-color: rgba(var(--color-blue-1), 1);
}