.modal{
    position: fixed;
    z-index: var(--z-index-max);
    background: rgba(var(--color-white-1));
}

.modal-overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000093;
    backdrop-filter: blur(3px);
}

.modal--cart{
    text-align: center;
    box-sizing: border-box;
    top:0;
    right: 0;
    height: 100vh;  
    padding: 0 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.modal--cart .product{
    margin: 10px 0;
}